# Виртуальное окружение
.venv/
venv/
env/

# База данных (SQLite, если временно используете)
*.sqlite3
*.db

# Кеши Python
__pycache__/
*.pyc

# Настройки редакторов (PyCharm, VS Code)
.idea/
.vscode/

# Файлы с секретами
.env

# Файлы операционной системы
Thumbs.db
.DS_Store

# Миграции (если не хотите хранить их в репозитории)
# */migrations/