{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заявка №{{ bank_request.id }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header class="header">
        <a href="{% url 'bankservice_list' %}" class="home-link">
            <img src="{% static 'img/home2.jpg' %}" alt="Домой">
        </a>
    </header>

    <div class="space">
        <h1>Заявка №{{ bank_request.id }}</h1>
        <div class="request-fields">
            <p><strong>Клиент:</strong> {{ bank_request.client_name }}</p>
            <p><strong>Стоимость обслуживания:</strong> {{ bank_request.total_cost }}</p>
        </div>


          <div class="table-header">
            <span></span>
            <span>Услуга</span>
            <span>Балансовый счет</span>
            <span>Банковский счет</span>
            <span>Количество</span>
          </div>

         {% for item in items %}

             <div class="table-row">
                <span><img src="http://localhost:9000/bank/img/{{ item.bankservice_image }}" alt="" class="table-image"></span>
                <span>{{ item.bankservice_name }}</span>
                <span>{{ item.bankservice_balance_account }}</span>
                <span>{{ item.bank_account }}</span>
                <span>{{ item.quantity }}</span>
            </div>
         {% endfor %}
    </div>
</body>
</html>