{% load static %}
<!DOCTYPE html>
<html lang="rus" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ bankservice.name}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >
    </head>
    <body>

        <header class="header">
            <a href="{% url 'bank_services_list' %}" class="home-link">
                <img src="{% static 'img/home2.jpg' %}" alt="Домой">
            </a>
        </header>

        <div class="space">
            <div class="vibes-card">
                <video autoplay muted loop class="vibes-video">
                    <source src="http://localhost:9000/bank/video/{{ bankservice.video }}" type="video/mp4">
                </video>
                <div class="vibes-overlay">
                    <h1>{{ bankservice.name }}</h1>
                    <p>Балансовый счёт: {{ bankservice.balance_account }}</p>
                    <p>{{ bankservice.description }}</p>
                </div>
            </div>
        </div>
    </body>
</html>
