{% load static %}
<!DOCTYPE html>
<html lang="rus" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Услуги банка</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    </head>

    <body>
            <header class="header">
                 <a href="{% url 'bank_services_list' %}" class="home-link">
                    <img src="http://localhost:9002/bank/img/home2.jpg" alt="Домой">
                </a>

            </header>

        <div class="space">
            <div class="cart">
                {% if bank_request and total_items > 0 %}
                    <a href="{% url 'bank_request_detail' bank_request.id %}" class="cart-link">
                        <img src="http://localhost:9002/bank/img/basket-servises.JPG" alt="Корзина" class="cart-icon">
                        <span class="cart-count">{{ total_items }}</span>
                    </a>
                {% else %}
                    <div class="cart-empty">
                        <img src="http://localhost:9002/bank/img/basket-servises.JPG" alt="Корзина пуста" class="cart-icon disabled">
                    </div>
                {% endif %}
            </div>

        <form method="get" class="search-form">
            <input type="text" name="q" value="{{query}}" placeholder="Выберете свой банковский продукт">
            <button type="submit">Найти</button>
        </form>

            <div class="container">
                {% for bankservice in bankservices %}
                    <div class="card">
                       <a href="{% url 'bank_services_detail' bankservice.id %}">
                        <img src="http://localhost:9002/bank/img/{{ bankservice.image }}" alt="{{ bankservice.name }}" class="card-image">
                       </a>
                        <p class="title">{{bankservice.name}}</p>
                        <p class="short-description">Балансовый счет: {{ bankservice.balance_account }}</p>
                        <!--<p class="short-description">{{ bankservice.description|truncatechars:80 }}</p>-->

                        <div class="down">
                            <form method="post" action="{% url 'bank_add_to_request' bankservice.id %}">
                                {% csrf_token %}
                                <button type="submit" class="card-button">Добавить в заявку</button>
                            </form>
                        </div>
                    </div>


                {% endfor %}

            </div>
        </div>

    </body>
</html>
